:root {
    /* ### Primary Color */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /* ### Neutral Color*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Atributess */
.attribution {
    font-size: 11px;
    position: fixed;
    text-align: center;
    margin-top: 0px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--very-pale-blue);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    width: 450px;
    border-radius: 20px ;

}

.hero{
    border-radius: 20px 20px 0 0 ;
}

.box-payment {
    display: flex;
}